@model List<app.Models.EventViewModel>
@{
    ViewData["Title"] = "Évènements";
}
<h3>@ViewData["Title"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Date et heure</th>
            @* <th>Fin</th> *@
            @* <th>Description</th> *@
        </tr>
    </thead>

    <tbody>
        @foreach(var row in Model)
        {
            <tr class="clickable-row" data-object='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(row))'>
                <td>@row.Name</td>
                <td>@row.LocationName</td>
                <td>@row.Start.ToShortDateString() - @row.Start.ToShortTimeString()</td>
                @* <td>@row.End.ToShortDateString() - @row.End.ToShortTimeString()</td> *@
                @* <td>@row.Description</td> *@
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="detailsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="detailsTitle">Détails</h5>
            </div>
            <div class="modal-body">
                <ul id="detailsList">
                    <li id="detailsLocation"><b>Lieu</b> : </li>
                    <li id="detailsStart"><b>Début</b> : </li>
                    <li id="detailsEnd"><b>Fin</b> : </li>
                    <li id="detailsDescription"><b>Description</b> : </li>
                </ul>
            </div>
        </div>
    </div>
</div>